*.iml
.gradle
/local.properties
.DS_Store
/build
app/libs/
app/src/test/
util/ba.cert
/.idea/workspace.xml
/.idea/copyright/
/.idea/dictionaries/
/.idea/inspectionProfiles/
/.idea/libraries/
/.idea/codeStyleSettings.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
